body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}


h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image{
    height: 5rem; 
}

span{
  color: blue;
}





.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

   @media(max-width:600px) {
         .logo {
             width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }


  .card{
     clear: left;
     text-align: center;
     display: block;
      width: 100%;
  }
   
   .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
  

        }



